:root {
  --primary: hsl(190, 60%, 45%);
  --secondary: hsl(350, 50%, 60%);
  --pale: hsl(30, 75%, 95%);

  --black: #000000;
  --dark-gray: hsl(185, 10%, 30%);
  --gray: hsl(185, 10%, 75%);
  --light-gray: hsl(185, 10%, 90%);
  --white: #ffffff;

  --rounded: 0px;
}

* {
  box-sizing: border-box;
}

html {
  background: var(--white);
  color: var(--black);
  line-height: 1.5;
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

section {
  flex-grow: 1;
}

p {
  width: 100%;
  margin: 0;
  line-height: 2;
  overflow-wrap: anywhere;
}

strong {
  font-weight: 600;
}

textarea {
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  border-radius: var(--rounded);
  background: var(--white);
  resize: none;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  border-radius: var(--rounded);
  background: none;
  font: inherit;
  cursor: pointer;
}

button:hover {
  color: var(--primary);
}

button.square {
  width: 35px;
  height: 35px;
  border-radius: 999px;
  background: var(--primary);
  color: var(--white);
}

button.square:hover {
  background: var(--dark-gray);
}

button.primary {
  padding: 5px 10px;
  background: var(--primary);
  color: var(--white);
}

button.secondary {
  padding: 5px 10px;
  color: var(--primary);
}

button.secondary:hover {
  background: var(--light-gray);
}

label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 0;
  min-width: 100%;
  padding: 10px 0;
  gap: 10px;
}

label > input {
  flex-grow: 1;
}

input {
  min-width: 0;
  accent-color: var(--primary);
  font: inherit;
}

textarea {
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: var(--rounded);
  font: inherit;
}

::selection {
  background: color-mix(in srgb, var(--secondary), transparent 75%);
}

::placeholder {
  color: var(--gray);
}

:focus-visible {
  outline-color: var(--black);
  outline-style: solid;
  outline-width: 2px;
  outline-offset: -2px;
}

.lucide {
  height: 1.25em;
}

.tippy-box {
  border-radius: var(--rounded);
  background: var(--black);
  color: var(--white);
  font: inherit;
}

.tippy-arrow {
  color: var(--black);
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}
