:root {
  --primary: hsl(190, 60%, 45%);
  --secondary: hsl(350, 50%, 60%);
  --pale: hsl(30, 75%, 95%);

  --black: #000000;
  --dark-gray: hsl(185, 10%, 30%);
  --gray: hsl(185, 10%, 75%);
  --light-gray: hsl(185, 10%, 90%);
  --white: #ffffff;

  --rounded: 0px;
  --shadow: inset 0 0 0 1px var(--light-gray);
}

* {
  box-sizing: border-box;
}

html {
  background: var(--white);
  color: var(--black);
  line-height: 1.5;
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

section {
  flex-grow: 1;
  padding: 40px;
}

p {
  width: 100%;
  margin: 0;
  line-height: 2;
  overflow-wrap: anywhere;
}

strong {
  font-weight: 600;
}

textarea {
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  border-radius: var(--rounded);
  background: var(--white);
  box-shadow: var(--shadow);
  resize: none;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  gap: 5px;
  border: none;
  border-radius: var(--rounded);
  background: var(--primary);
  color: var(--white);
  font: inherit;
  font-weight: 500;
  letter-spacing: 0.05em;
  cursor: pointer;
}

button:hover {
  background: var(--dark-gray);
}

button.square {
  width: 35px;
  height: 35px;
  padding: 0;
  border-radius: 999px;
}

button.secondary {
  background: none;
  color: var(--primary);
}

button.secondary:hover {
  background: var(--light-gray);
}

label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 0;
  min-width: 100%;
  padding: 10px 0;
  gap: 10px;
}

label > input {
  flex-grow: 1;
}

input {
  min-width: 0;
  accent-color: var(--primary);
  font: inherit;
}

input[type="range"] {
  cursor: pointer;
}

textarea {
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: var(--rounded);
  font: inherit;
}

::placeholder {
  color: var(--gray);
}

.lucide {
  height: 1.25em;
}

.tippy-box {
  border-radius: var(--rounded);
  background: var(--black);
  color: var(--white);
  font: inherit;
}

.tippy-arrow {
  color: var(--black);
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}
